<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MusicExchange</title>
</head>

-<style>
	body{
		font-family: arial, sans-serif;
		font-size: 12;
		margin: 1;
		padding:1;
		background-color: lightblue;
	}
</style>
<body>
	<!--<div class="container">-->
	<p th:text="${message}"></p>
    <div style="max-width: 600px; margin: 50px auto; text-align: center; padding: 20px; border: 1px solid #ccc; border-radius: 5px;">
        <!-- Header -->
        <h1 style="color: #007bff;">Welcome</h1>
        <p>Love music?</p>
        <!-- Signup and Login Buttons -->
        <div style="margin-top: 20px;">
           <a th:href="@{/role}" class="btn btn-primary" style="display: block; margin: 10px auto; padding: 10px 20px; background-color: #007bff; color: white; text-decoration: none; border-radius: 5px; width: 80%;">
            Sign Up
           </a>
            <a th:href="@{/login}" style="display: block; margin: 10px auto; padding: 10px 20px; background-color: #007bff; color: white; text-decoration: none; border-radius: 5px; width: 80%;">
                <p>Already registered?</p>Log In
            </a>
        </div>
    </div>
    </div>
</body>
</html>